/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.header ul
{
  list-style-type: none;
  padding-left: 0px;
}

div.header ul li
{
  float: left;
  margin-right: 10px;
}

div.session_status
{
  float: right;
}

div.content
{
  clear: both;
  padding-top: 20px;
}

p.alert
{
  color: red;
}

p.notice
{
  color: green;
}
